header img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 99999px;
  overflow: hidden;
}

body {
  font-size: 1rem;
}

.proficiencies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.proficiency-block {
  flex: 1 0 200px;
  margin: 0;
  padding: 0;
}

.proficiency-block ul {
  margin-top: 0;
}

.project {
  font-style: normal;
  border: 1px solid var(--accent);
  border-radius: 5px;
  position: relative;
}

.project::before {
  content: "Project";
  position: absolute;
  background-color: var(--bg);
  font-size: 0.75rem;
  padding: 5px;
  top: -1.25em;
  left: calc(1em - 5px);
  /* 1em to align with parent element text, -5px due to padding */
}

.project h6 {
  margin: 1rem 0;
}

ul.sub-list {
  list-style-type: square;
  margin-left: 40px;
}
